<div class='owlselector'>
<h2>All Classes (372)</h2>

<div class='codebox' id='ID4615659014858700191'>
<ul>
<li class="asserted"><a href="Thing___-200689702.html" class='Class' title="http://www.w3.org/2002/07/owl#Thing">owl:Thing</a></li>
<li class="asserted"><a href="Accommodation___1913279732.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Accommodation">Accommodation</a></li>
<li class="asserted"><a href="AccommodationAmenity___-630989079.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#AccommodationAmenity">AccommodationAmenity</a></li>
<li class="asserted"><a href="AccommodationFeatureSpecification___-900435519.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#AccommodationFeatureSpecification">AccommodationFeatureSpecification</a></li>
<li class="asserted"><a href="AccommodationPricingPolicy___1754221128.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#AccommodationPricingPolicy">AccommodationPricingPolicy</a></li>
<li class="asserted"><a href="AccommodationProduct___-51241697.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#AccommodationProduct">AccommodationProduct</a></li>
<li class="asserted"><a href="AccommodationReviewSystem___1023697339.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#AccommodationReviewSystem">AccommodationReviewSystem</a></li>
<li class="asserted"><a href="AccompaniedPractice___2019763175.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#AccompaniedPractice">AccompaniedPractice</a></li>
<li class="asserted"><a href="ActivityPricingPolicy___-81746325.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#ActivityPricingPolicy">ActivityPricingPolicy</a></li>
<li class="asserted"><a href="ActivityTheme___1576859804.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#ActivityTheme">ActivityTheme</a></li>
<li class="asserted"><a href="Agent___1887762343.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Agent">Agent</a></li>
<li class="asserted"><a href="Airport___-1797416595.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Airport">Airport</a></li>
<li class="asserted"><a href="Amenity___-1694971045.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Amenity">Amenity</a></li>
<li class="asserted"><a href="Annotation___-2031981551.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Annotation">Annotation</a></li>
<li class="asserted"><a href="Annotation___-1041932096.html" class='Class' title="http://www.ebu.ch/metadata/ontologies/ebucore/ebucore#Annotation">Annotation</a></li>
<li class="asserted"><a href="AntiqueAndSecondhandGoodDealer___1161978547.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#AntiqueAndSecondhandGoodDealer">AntiqueAndSecondhandGoodDealer</a></li>
<li class="asserted"><a href="Apartment___1493113812.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Apartment">Apartment</a></li>
<li class="asserted"><a href="ArcheologicalSite___1818417170.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#ArcheologicalSite">ArcheologicalSite</a></li>
<li class="asserted"><a href="ArchitecturalStyle___-771890282.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#ArchitecturalStyle">ArchitecturalStyle</a></li>
<li class="asserted"><a href="Arena___1888090025.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Arena">Arena</a></li>
<li class="asserted"><a href="Audience___-1430129946.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Audience">Audience</a></li>
<li class="asserted"><a href="Auditorium___1230287333.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Auditorium">Auditorium</a></li>
<li class="asserted"><a href="Bakery___-488009022.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Bakery">Bakery</a></li>
<li class="asserted"><a href="BarOrPub___119631529.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#BarOrPub">BarOrPub</a></li>
<li class="asserted"><a href="BeachClub___1547818331.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#BeachClub">BeachClub</a></li>
<li class="asserted"><a href="Bed___1824631075.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Bed">Bed</a></li>
<li class="asserted"><a href="BilliardRoom___-2063754450.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#BilliardRoom">BilliardRoom</a></li>
<li class="asserted"><a href="BistroOrWineBar___-849314588.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#BistroOrWineBar">BistroOrWineBar</a></li>
<li class="asserted"><a href="BoatRestaurant___-2116337281.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#BoatRestaurant">BoatRestaurant</a></li>
<li class="asserted"><a href="BoulesPitch___-109055056.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#BoulesPitch">BoulesPitch</a></li>
<li class="asserted"><a href="BowlingAlley___478931479.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#BowlingAlley">BowlingAlley</a></li>
<li class="asserted"><a href="BrasserieOrTavern___-1927881257.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#BrasserieOrTavern">BrasserieOrTavern</a></li>
<li class="asserted"><a href="Brewery___-664057396.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Brewery">Brewery</a></li>
<li class="asserted"><a href="BricABrac___1203569099.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#BricABrac">BricABrac</a></li>
<li class="asserted"><a href="Bubble___-469809810.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Bubble">Bubble</a></li>
<li class="asserted"><a href="BuildingStyle___-2062450689.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#BuildingStyle">BuildingStyle</a></li>
<li class="asserted"><a href="Bungalow___597004161.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Bungalow">Bungalow</a></li>
<li class="asserted"><a href="Bungatoile___-1032425292.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Bungatoile">Bungatoile</a></li>
<li class="asserted"><a href="BusinessEvent___-1065324708.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#BusinessEvent">BusinessEvent</a></li>
<li class="asserted"><a href="BusinessObject___-604642128.html" class='Class' title="http://www.ebu.ch/metadata/ontologies/ebucore/ebucore#BusinessObject">BusinessObject</a></li>
<li class="asserted"><a href="BusStation___-951956618.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#BusStation">BusStation</a></li>
<li class="asserted"><a href="BusStop___-566298812.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#BusStop">BusStop</a></li>
<li class="asserted"><a href="Cabaret___-266663162.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Cabaret">Cabaret</a></li>
<li class="asserted"><a href="CableCarStation___589094783.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CableCarStation">CableCarStation</a></li>
<li class="asserted"><a href="CafeOrTeahouse___-1044146574.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CafeOrTeahouse">CafeOrTeahouse</a></li>
<li class="asserted"><a href="CamperVanArea___992853028.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CamperVanArea">CamperVanArea</a></li>
<li class="asserted"><a href="Camping___-256065949.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Camping">Camping</a></li>
<li class="asserted"><a href="CampingAndCaravanning___125669654.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CampingAndCaravanning">CampingAndCaravanning</a></li>
<li class="asserted"><a href="CampingAndCaravanningAmenity___1610422407.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CampingAndCaravanningAmenity">CampingAndCaravanningAmenity</a></li>
<li class="asserted"><a href="CampingAndCaravanningFeatureSpecification___-1373484829.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CampingAndCaravanningFeatureSpecification">CampingAndCaravanningFeatureSpecification</a></li>
<li class="asserted"><a href="CampingCar___-1561582795.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CampingCar">CampingCar</a></li>
<li class="asserted"><a href="CampingPitch___-960415007.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CampingPitch">CampingPitch</a></li>
<li class="asserted"><a href="CampingPricingPolicy___-1040585415.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CampingPricingPolicy">CampingPricingPolicy</a></li>
<li class="asserted"><a href="CampingReviewSystem___1764826282.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CampingReviewSystem">CampingReviewSystem</a></li>
<li class="asserted"><a href="Caravan___-251883112.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Caravan">Caravan</a></li>
<li class="asserted"><a href="Carnival___1890838804.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Carnival">Carnival</a></li>
<li class="asserted"><a href="CarpoolArea___549136191.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CarpoolArea">CarpoolArea</a></li>
<li class="asserted"><a href="Casino___-459137833.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Casino">Casino</a></li>
<li class="asserted"><a href="CastleOrDungeon___930622945.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CastleOrDungeon">CastleOrDungeon</a></li>
<li class="asserted"><a href="CateringAmenity___-774115236.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CateringAmenity">CateringAmenity</a></li>
<li class="asserted"><a href="CateringFeatureSpecification___-421424338.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CateringFeatureSpecification">CateringFeatureSpecification</a></li>
<li class="asserted"><a href="CateringPricingPolicy___-211601029.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CateringPricingPolicy">CateringPricingPolicy</a></li>
<li class="asserted"><a href="Cellar___-455649803.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Cellar">Cellar</a></li>
<li class="asserted"><a href="Cemetery___994740692.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Cemetery">Cemetery</a></li>
<li class="asserted"><a href="Chalet___-453206815.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Chalet">Chalet</a></li>
<li class="asserted"><a href="ChildrensEvent___1502471560.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#ChildrensEvent">ChildrensEvent</a></li>
<li class="asserted"><a href="ChildrensGite___-402535447.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#ChildrensGite">ChildrensGite</a></li>
<li class="asserted"><a href="Cinema___-451902509.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Cinema">Cinema</a></li>
<li class="asserted"><a href="CircusEvent___-1094548921.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CircusEvent">CircusEvent</a></li>
<li class="asserted"><a href="CircusPlace___-1084692300.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CircusPlace">CircusPlace</a></li>
<li class="asserted"><a href="City___1826665037.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#City">City</a></li>
<li class="asserted"><a href="CityHeritage___643581292.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CityHeritage">CityHeritage</a></li>
<li class="asserted"><a href="ClubOrHolidayVillage___-1676777553.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#ClubOrHolidayVillage">ClubOrHolidayVillage</a></li>
<li class="asserted"><a href="CollectiveAccommodation___-69042138.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CollectiveAccommodation">CollectiveAccommodation</a></li>
<li class="asserted"><a href="CollectiveAccommodationAmenity___705697655.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CollectiveAccommodationAmenity">CollectiveAccommodationAmenity</a></li>
<li class="asserted"><a href="CollectiveAccommodationFeatureSpecification___524881907.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CollectiveAccommodationFeatureSpecification">CollectiveAccommodationFeatureSpecification</a></li>
<li class="asserted"><a href="CollectiveAccommodationPricingPolicy___-68788138.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CollectiveAccommodationPricingPolicy">CollectiveAccommodationPricingPolicy</a></li>
<li class="asserted"><a href="Commemoration___159423584.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Commemoration">Commemoration</a></li>
<li class="asserted"><a href="CommonAmenity___-1302535440.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CommonAmenity">CommonAmenity</a></li>
<li class="asserted"><a href="CommonFeatureSpecification___322072858.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CommonFeatureSpecification">CommonFeatureSpecification</a></li>
<li class="asserted"><a href="Competition___-1897931167.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Competition">Competition</a></li>
<li class="asserted"><a href="Concert___145274696.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Concert">Concert</a></li>
<li class="asserted"><a href="Conference___250725886.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Conference">Conference</a></li>
<li class="asserted"><a href="Congress___1310259546.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Congress">Congress</a></li>
<li class="asserted"><a href="Cooperative___-1282519059.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Cooperative">Cooperative</a></li>
<li class="asserted"><a href="Course___-446140163.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Course">Course</a></li>
<li class="asserted"><a href="CraftsmanShop___285079135.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CraftsmanShop">CraftsmanShop</a></li>
<li class="asserted"><a href="CuisineCategory___55469828.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CuisineCategory">CuisineCategory</a></li>
<li class="asserted"><a href="CulturalHeritageAmenity___1944805370.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CulturalHeritageAmenity">CulturalHeritageAmenity</a></li>
<li class="asserted"><a href="CulturalHeritageFeatureSpecification___-427756464.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CulturalHeritageFeatureSpecification">CulturalHeritageFeatureSpecification</a></li>
<li class="asserted"><a href="CulturalSite___1859246923.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CulturalSite">CulturalSite</a></li>
<li class="asserted"><a href="CulturalSiteReviewSystem___-348512878.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CulturalSiteReviewSystem">CulturalSiteReviewSystem</a></li>
<li class="asserted"><a href="CulturalTheme___-1394365559.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CulturalTheme">CulturalTheme</a></li>
<li class="asserted"><a href="CyclingTour___2025747901.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#CyclingTour">CyclingTour</a></li>
<li class="asserted"><a href="DanceEvent___1180167049.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#DanceEvent">DanceEvent</a></li>
<li class="asserted"><a href="DancingRestaurant___1584667567.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#DancingRestaurant">DancingRestaurant</a></li>
<li class="asserted"><a href="DefenceSite___-752319399.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#DefenceSite">DefenceSite</a></li>
<li class="asserted"><a href="Department___371246132.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Department">Department</a></li>
<li class="asserted"><a href="Description___1767887006.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Description">Description</a></li>
<li class="asserted"><a href="DevelopmentCourse___258749912.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#DevelopmentCourse">DevelopmentCourse</a></li>
<li class="asserted"><a href="EditorialObject___-863071945.html" class='Class' title="http://www.ebu.ch/metadata/ontologies/ebucore/ebucore#EditorialObject">EditorialObject</a></li>
<li class="asserted"><a href="EntertainmentAndEvent___1537042253.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#EntertainmentAndEvent">EntertainmentAndEvent</a></li>
<li class="asserted"><a href="EntertainmentAndEventReviewSystem___-2078689644.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#EntertainmentAndEventReviewSystem">EntertainmentAndEventReviewSystem</a></li>
<li class="asserted"><a href="EntertainmentAndEventTheme___1703888576.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#EntertainmentAndEventTheme">EntertainmentAndEventTheme</a></li>
<li class="asserted"><a href="EquipmentRental___1419823348.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#EquipmentRental">EquipmentRental</a></li>
<li class="asserted"><a href="Exhibition___1472304817.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Exhibition">Exhibition</a></li>
<li class="asserted"><a href="FairOrShow___501353638.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#FairOrShow">FairOrShow</a></li>
<li class="asserted"><a href="Farmer___-373276603.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Farmer">Farmer</a></li>
<li class="asserted"><a href="FarmhouseInn___-850673727.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#FarmhouseInn">FarmhouseInn</a></li>
<li class="asserted"><a href="FastFoodRestaurant___-2098066791.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#FastFoodRestaurant">FastFoodRestaurant</a></li>
<li class="asserted"><a href="FeatureSpecification___-1528639857.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#FeatureSpecification">FeatureSpecification</a></li>
<li class="asserted"><a href="Festival___2113520218.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Festival">Festival</a></li>
<li class="asserted"><a href="FirstPractice___-1235428179.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#FirstPractice">FirstPractice</a></li>
<li class="asserted"><a href="FitnessCenter___-1605622529.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#FitnessCenter">FitnessCenter</a></li>
<li class="asserted"><a href="FitnessPath___-793143601.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#FitnessPath">FitnessPath</a></li>
<li class="asserted"><a href="FluvialTour___895800231.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#FluvialTour">FluvialTour</a></li>
<li class="asserted"><a href="Agent___1318709648.html" class='Class' title="http://xmlns.com/foaf/0.1/Agent">foaf:Agent</a></li>
<li class="asserted"><a href="Organization___-1696212994.html" class='Class' title="http://xmlns.com/foaf/0.1/Organization">foaf:Organization</a></li>
<li class="asserted"><a href="Person___-652337632.html" class='Class' title="http://xmlns.com/foaf/0.1/Person">foaf:Person</a></li>
<li class="asserted"><a href="FoodEstablishment___1368716027.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#FoodEstablishment">FoodEstablishment</a></li>
<li class="asserted"><a href="FoodEstablishmentReviewSystem___-2128138942.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#FoodEstablishmentReviewSystem">FoodEstablishmentReviewSystem</a></li>
<li class="asserted"><a href="FoodEstablishmentTheme___-327034926.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#FoodEstablishmentTheme">FoodEstablishmentTheme</a></li>
<li class="asserted"><a href="FoodProduct___1032429395.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#FoodProduct">FoodProduct</a></li>
<li class="asserted"><a href="FreePractice___1698220201.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#FreePractice">FreePractice</a></li>
<li class="asserted"><a href="FruitBar___813543489.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#FruitBar">FruitBar</a></li>
<li class="asserted"><a href="GenericPricingPolicy___-1982809885.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#GenericPricingPolicy">GenericPricingPolicy</a></li>
<li class="asserted"><a href="GolfCourse___-701662209.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#GolfCourse">GolfCourse</a></li>
<li class="asserted"><a href="GourmetRestaurant___1540681078.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#GourmetRestaurant">GourmetRestaurant</a></li>
<li class="asserted"><a href="GPX___1824635217.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#GPX">GPX</a></li>
<li class="asserted"><a href="Guesthouse___2072576298.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Guesthouse">Guesthouse</a></li>
<li class="asserted"><a href="Gymnasium___-328025666.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Gymnasium">Gymnasium</a></li>
<li class="asserted"><a href="Harbour___-109308315.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Harbour">Harbour</a></li>
<li class="asserted"><a href="HealthcarePlace___357036604.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#HealthcarePlace">HealthcarePlace</a></li>
<li class="asserted"><a href="HealthcareProfessional___-839157994.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#HealthcareProfessional">HealthcareProfessional</a></li>
<li class="asserted"><a href="HealthTheme___1570040175.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#HealthTheme">HealthTheme</a></li>
<li class="asserted"><a href="HolidayCentre___-1707928331.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#HolidayCentre">HolidayCentre</a></li>
<li class="asserted"><a href="HolidayResort___-1278346901.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#HolidayResort">HolidayResort</a></li>
<li class="asserted"><a href="HorseTour___-2095241097.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#HorseTour">HorseTour</a></li>
<li class="asserted"><a href="Hotel___1894479446.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Hotel">Hotel</a></li>
<li class="asserted"><a href="HotelAmenity___1465830215.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#HotelAmenity">HotelAmenity</a></li>
<li class="asserted"><a href="HotelFeatureSpecification___417926691.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#HotelFeatureSpecification">HotelFeatureSpecification</a></li>
<li class="asserted"><a href="HotelPricingPolicy___1832056870.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#HotelPricingPolicy">HotelPricingPolicy</a></li>
<li class="asserted"><a href="HotelRestaurant___-1682066253.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#HotelRestaurant">HotelRestaurant</a></li>
<li class="asserted"><a href="HotelSuite___419829382.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#HotelSuite">HotelSuite</a></li>
<li class="asserted"><a href="HotelTrade___420655346.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#HotelTrade">HotelTrade</a></li>
<li class="asserted"><a href="HotelTradeReviewSystem___-782454599.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#HotelTradeReviewSystem">HotelTradeReviewSystem</a></li>
<li class="asserted"><a href="House___1894480834.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#House">House</a></li>
<li class="asserted"><a href="HouseBoat___566733090.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#HouseBoat">HouseBoat</a></li>
<li class="asserted"><a href="Hut___1824637353.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Hut">Hut</a></li>
<li class="asserted"><a href="IceCreamShop___780492079.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#IceCreamShop">IceCreamShop</a></li>
<li class="asserted"><a href="IceSkatingRink___797260706.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#IceSkatingRink">IceSkatingRink</a></li>
<li class="asserted"><a href="IncomingTravelAgency___1049323495.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#IncomingTravelAgency">IncomingTravelAgency</a></li>
<li class="asserted"><a href="InformativeAmenity___835755519.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#InformativeAmenity">InformativeAmenity</a></li>
<li class="asserted"><a href="InformativeFeatureSpecification___-991598997.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#InformativeFeatureSpecification">InformativeFeatureSpecification</a></li>
<li class="asserted"><a href="InterpretationCentre___-708079899.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#InterpretationCentre">InterpretationCentre</a></li>
<li class="asserted"><a href="InterpretationCentreTheme___-1467867608.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#InterpretationCentreTheme">InterpretationCentreTheme</a></li>
<li class="asserted"><a href="IntroductionCourse___1336969655.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#IntroductionCourse">IntroductionCourse</a></li>
<li class="asserted"><a href="KidsClub___1061182885.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#KidsClub">KidsClub</a></li>
<li class="asserted"><a href="KML___1824638956.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#KML">KML</a></li>
<li class="asserted"><a href="LabelRating___-786537901.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#LabelRating">LabelRating</a></li>
<li class="asserted"><a href="LabelReview___-782784498.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#LabelReview">LabelReview</a></li>
<li class="asserted"><a href="LabelReviewSystem___-1079747235.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#LabelReviewSystem">LabelReviewSystem</a></li>
<li class="asserted"><a href="LeisureChalet___1881539366.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#LeisureChalet">LeisureChalet</a></li>
<li class="asserted"><a href="LeisureComplex___-492567635.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#LeisureComplex">LeisureComplex</a></li>
<li class="asserted"><a href="LeisurePlaceReviewSystem___-60776565.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#LeisurePlaceReviewSystem">LeisurePlaceReviewSystem</a></li>
<li class="asserted"><a href="LeisureTheme___-97556602.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#LeisureTheme">LeisureTheme</a></li>
<li class="asserted"><a href="Library___-639540899.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Library">Library</a></li>
<li class="asserted"><a href="Lighthouse___-677326676.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Lighthouse">Lighthouse</a></li>
<li class="asserted"><a href="LimitedPeriod___1578332317.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#LimitedPeriod">LimitedPeriod</a></li>
<li class="asserted"><a href="LocalProductsShop___1759976999.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#LocalProductsShop">LocalProductsShop</a></li>
<li class="asserted"><a href="LocalTouristOffice___-1069890619.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#LocalTouristOffice">LocalTouristOffice</a></li>
<li class="asserted"><a href="LocationInterest___1744965345.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#LocationInterest">LocationInterest</a></li>
<li class="asserted"><a href="Marina___-172876128.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Marina">Marina</a></li>
<li class="asserted"><a href="Market___-172874466.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Market">Market</a></li>
<li class="asserted"><a href="MedicalPlace___-1402881576.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#MedicalPlace">MedicalPlace</a></li>
<li class="asserted"><a href="Meeting___136283869.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Meeting">Meeting</a></li>
<li class="asserted"><a href="MiniGolf___529014331.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#MiniGolf">MiniGolf</a></li>
<li class="asserted"><a href="MountainResort___216812576.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#MountainResort">MountainResort</a></li>
<li class="asserted"><a href="MountainRestaurant___565024396.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#MountainRestaurant">MountainRestaurant</a></li>
<li class="asserted"><a href="MultiActivity___-1588283382.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#MultiActivity">MultiActivity</a></li>
<li class="asserted"><a href="Museum___-154379532.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Museum">Museum</a></li>
<li class="asserted"><a href="MuseumTheme___1572438905.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#MuseumTheme">MuseumTheme</a></li>
<li class="asserted"><a href="MusicEvent___-1280891817.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#MusicEvent">MusicEvent</a></li>
<li class="asserted"><a href="NaturalHeritage___1131317738.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#NaturalHeritage">NaturalHeritage</a></li>
<li class="asserted"><a href="NaturalHeritageAmenity___-112333.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#NaturalHeritageAmenity">NaturalHeritageAmenity</a></li>
<li class="asserted"><a href="NaturalHeritageFeatureSpecification___781356983.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#NaturalHeritageFeatureSpecification">NaturalHeritageFeatureSpecification</a></li>
<li class="asserted"><a href="NaturalHeritageReviewSystem___-408758863.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#NaturalHeritageReviewSystem">NaturalHeritageReviewSystem</a></li>
<li class="asserted"><a href="NaturalHeritageTheme___-921944509.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#NaturalHeritageTheme">NaturalHeritageTheme</a></li>
<li class="asserted"><a href="NightClub___898790800.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#NightClub">NightClub</a></li>
<li class="asserted"><a href="NonHousingRealEstateRental___503597472.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#NonHousingRealEstateRental">NonHousingRealEstateRental</a></li>
<li class="asserted"><a href="Offer___1900662526.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Offer">Offer</a></li>
<li class="asserted"><a href="OpenDay___-2068970092.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#OpenDay">OpenDay</a></li>
<li class="asserted"><a href="OpeningHoursSpecification___1332496974.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#OpeningHoursSpecification">OpeningHoursSpecification</a></li>
<li class="asserted"><a href="Opera___1900959861.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Opera">Opera</a></li>
<li class="asserted"><a href="OrderedList___1485160346.html" class='Class' title="http://purl.org/ontology/olo/core#OrderedList">OrderedList</a></li>
<li class="asserted"><a href="Organisation___-1327564356.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Organisation">Organisation</a></li>
<li class="asserted"><a href="Nothing___-782458183.html" class='Class' title="http://www.w3.org/2002/07/owl#Nothing">owl:Nothing</a></li>
<li class="asserted"><a href="Parade___-86996669.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Parade">Parade</a></li>
<li class="asserted"><a href="ParkAndGarden___-1185863996.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#ParkAndGarden">ParkAndGarden</a></li>
<li class="asserted"><a href="ParkAndGardenTheme___1483446697.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#ParkAndGardenTheme">ParkAndGardenTheme</a></li>
<li class="asserted"><a href="Parking___-1598951334.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Parking">Parking</a></li>
<li class="asserted"><a href="PDF___1824643476.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#PDF">PDF</a></li>
<li class="asserted"><a href="PeopleAudience___1641214613.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#PeopleAudience">PeopleAudience</a></li>
<li class="asserted"><a href="Period___-83294557.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Period">Period</a></li>
<li class="asserted"><a href="Person___-83284937.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Person">Person</a></li>
<li class="asserted"><a href="Pharmacy___212225429.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Pharmacy">Pharmacy</a></li>
<li class="asserted"><a href="PilgrimageAndProcession___750822837.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#PilgrimageAndProcession">PilgrimageAndProcession</a></li>
<li class="asserted"><a href="Place___1901759913.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Place">Place</a></li>
<li class="asserted"><a href="PlaceOfInterest___2117994282.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#PlaceOfInterest">PlaceOfInterest</a></li>
<li class="asserted"><a href="PlayArea___-527556925.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#PlayArea">PlayArea</a></li>
<li class="asserted"><a href="PointOfInterest___-1510462349.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#PointOfInterest">PointOfInterest</a></li>
<li class="asserted"><a href="PostalAddress___-8773301.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#PostalAddress">PostalAddress</a></li>
<li class="asserted"><a href="Practice___483691037.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Practice">Practice</a></li>
<li class="asserted"><a href="PriceSpecification___-1531691236.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#PriceSpecification">PriceSpecification</a></li>
<li class="asserted"><a href="PricingMode___755386155.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#PricingMode">PricingMode</a></li>
<li class="asserted"><a href="PricingPolicy___927570234.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#PricingPolicy">PricingPolicy</a></li>
<li class="asserted"><a href="Producer___885446772.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Producer">Producer</a></li>
<li class="asserted"><a href="ProducersGroup___109387968.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#ProducersGroup">ProducersGroup</a></li>
<li class="asserted"><a href="Product___-1115223663.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Product">Product</a></li>
<li class="asserted"><a href="Quantity___604204397.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Quantity">Quantity</a></li>
<li class="asserted"><a href="Racetrack___1861780924.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Racetrack">Racetrack</a></li>
<li class="asserted"><a href="RacingCircuit___-1770176163.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#RacingCircuit">RacingCircuit</a></li>
<li class="asserted"><a href="Rally___1903290124.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Rally">Rally</a></li>
<li class="asserted"><a href="Rating___-29670785.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Rating">Rating</a></li>
<li class="asserted"><a href="Recital___276670408.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Recital">Recital</a></li>
<li class="asserted"><a href="RecurrentPeriod___-783443479.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#RecurrentPeriod">RecurrentPeriod</a></li>
<li class="asserted"><a href="Region___-26363946.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Region">Region</a></li>
<li class="asserted"><a href="ReligiousEvent___1240876545.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#ReligiousEvent">ReligiousEvent</a></li>
<li class="asserted"><a href="ReligiousSite___-549163836.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#ReligiousSite">ReligiousSite</a></li>
<li class="asserted"><a href="RemarkableBuilding___-1179519344.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#RemarkableBuilding">RemarkableBuilding</a></li>
<li class="asserted"><a href="RemembranceSite___-1639585174.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#RemembranceSite">RemembranceSite</a></li>
<li class="asserted"><a href="Rental___-26145274.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Rental">Rental</a></li>
<li class="asserted"><a href="RentalAccommodation___351672880.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#RentalAccommodation">RentalAccommodation</a></li>
<li class="asserted"><a href="Restaurant___2045561887.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Restaurant">Restaurant</a></li>
<li class="asserted"><a href="Review___-25917382.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Review">Review</a></li>
<li class="asserted"><a href="ReviewSystem___858483849.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#ReviewSystem">ReviewSystem</a></li>
<li class="asserted"><a href="RiverPort___-1695750833.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#RiverPort">RiverPort</a></li>
<li class="asserted"><a href="RoadTour___1306777210.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#RoadTour">RoadTour</a></li>
<li class="asserted"><a href="Room___1827117501.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Room">Room</a></li>
<li class="asserted"><a href="RoomAmenity___-1130473984.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#RoomAmenity">RoomAmenity</a></li>
<li class="asserted"><a href="RoomFeatureSpecification___973109258.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#RoomFeatureSpecification">RoomFeatureSpecification</a></li>
<li class="asserted"><a href="RoomLayout___232560839.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#RoomLayout">RoomLayout</a></li>
<li class="asserted"><a href="SaleEvent___-591357131.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#SaleEvent">SaleEvent</a></li>
<li class="asserted"><a href="ScaleRating___-1668656087.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#ScaleRating">ScaleRating</a></li>
<li class="asserted"><a href="ScaleReview___-1664902684.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#ScaleReview">ScaleReview</a></li>
<li class="asserted"><a href="ScaleReviewSystem___84743859.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#ScaleReviewSystem">ScaleReviewSystem</a></li>
<li class="asserted"><a href="Accommodation___345568472.html" class='Class' title="http://schema.org/Accommodation">schema:Accommodation</a></li>
<li class="asserted"><a href="AdministrativeArea___-1200980063.html" class='Class' title="http://schema.org/AdministrativeArea">schema:AdministrativeArea</a></li>
<li class="asserted"><a href="Airport___929839441.html" class='Class' title="http://schema.org/Airport">schema:Airport</a></li>
<li class="asserted"><a href="AmusementPark___162378185.html" class='Class' title="http://schema.org/AmusementPark">schema:AmusementPark</a></li>
<li class="asserted"><a href="Apartment___-74597448.html" class='Class' title="http://schema.org/Apartment">schema:Apartment</a></li>
<li class="asserted"><a href="Aquarium___-1773198191.html" class='Class' title="http://schema.org/Aquarium">schema:Aquarium</a></li>
<li class="asserted"><a href="Audience___1297126090.html" class='Class' title="http://schema.org/Audience">schema:Audience</a></li>
<li class="asserted"><a href="Bakery___-2055720282.html" class='Class' title="http://schema.org/Bakery">schema:Bakery</a></li>
<li class="asserted"><a href="BedAndBreakfast___-486967957.html" class='Class' title="http://schema.org/BedAndBreakfast">schema:BedAndBreakfast</a></li>
<li class="asserted"><a href="BusinessEvent___1661931328.html" class='Class' title="http://schema.org/BusinessEvent">schema:BusinessEvent</a></li>
<li class="asserted"><a href="BusStation___1775299418.html" class='Class' title="http://schema.org/BusStation">schema:BusStation</a></li>
<li class="asserted"><a href="BusStop___-2134010072.html" class='Class' title="http://schema.org/BusStop">schema:BusStop</a></li>
<li class="asserted"><a href="CafeOrCoffeeShop___1287743016.html" class='Class' title="http://schema.org/CafeOrCoffeeShop">schema:CafeOrCoffeeShop</a></li>
<li class="asserted"><a href="CampingPitch___1766841029.html" class='Class' title="http://schema.org/CampingPitch">schema:CampingPitch</a></li>
<li class="asserted"><a href="Casino___-2026849093.html" class='Class' title="http://schema.org/Casino">schema:Casino</a></li>
<li class="asserted"><a href="City___258953777.html" class='Class' title="http://schema.org/City">schema:City</a></li>
<li class="asserted"><a href="CivicStructure___-1774302353.html" class='Class' title="http://schema.org/CivicStructure">schema:CivicStructure</a></li>
<li class="asserted"><a href="DanceEvent___-387544211.html" class='Class' title="http://schema.org/DanceEvent">schema:DanceEvent</a></li>
<li class="asserted"><a href="DayOfWeek___1530269101.html" class='Class' title="http://schema.org/DayOfWeek">schema:DayOfWeek</a></li>
<li class="asserted"><a href="Event___324192032.html" class='Class' title="http://schema.org/Event">schema:Event</a></li>
<li class="asserted"><a href="ExhibitionEvent___-535383407.html" class='Class' title="http://schema.org/ExhibitionEvent">schema:ExhibitionEvent</a></li>
<li class="asserted"><a href="FastFoodRestaurant___629189245.html" class='Class' title="http://schema.org/FastFoodRestaurant">schema:FastFoodRestaurant</a></li>
<li class="asserted"><a href="Festival___545808958.html" class='Class' title="http://schema.org/Festival">schema:Festival</a></li>
<li class="asserted"><a href="FoodEstablishment___-198995233.html" class='Class' title="http://schema.org/FoodEstablishment">schema:FoodEstablishment</a></li>
<li class="asserted"><a href="GolfCourse___2025593827.html" class='Class' title="http://schema.org/GolfCourse">schema:GolfCourse</a></li>
<li class="asserted"><a href="Hostel___-1870763755.html" class='Class' title="http://schema.org/Hostel">schema:Hostel</a></li>
<li class="asserted"><a href="Hotel___326768186.html" class='Class' title="http://schema.org/Hotel">schema:Hotel</a></li>
<li class="asserted"><a href="House___326769574.html" class='Class' title="http://schema.org/House">schema:House</a></li>
<li class="asserted"><a href="IceCreamShop___-787219181.html" class='Class' title="http://schema.org/IceCreamShop">schema:IceCreamShop</a></li>
<li class="asserted"><a href="Landform___-1295296011.html" class='Class' title="http://schema.org/Landform">schema:Landform</a></li>
<li class="asserted"><a href="Library___2087715137.html" class='Class' title="http://schema.org/Library">schema:Library</a></li>
<li class="asserted"><a href="LocalBusiness___-1528898351.html" class='Class' title="http://schema.org/LocalBusiness">schema:LocalBusiness</a></li>
<li class="asserted"><a href="LocationFeatureSpecification___-910150200.html" class='Class' title="http://schema.org/LocationFeatureSpecification">schema:LocationFeatureSpecification</a></li>
<li class="asserted"><a href="LodgingBusiness___1604913474.html" class='Class' title="http://schema.org/LodgingBusiness">schema:LodgingBusiness</a></li>
<li class="asserted"><a href="MovieTheater___1735029639.html" class='Class' title="http://schema.org/MovieTheater">schema:MovieTheater</a></li>
<li class="asserted"><a href="Museum___-1722090792.html" class='Class' title="http://schema.org/Museum">schema:Museum</a></li>
<li class="asserted"><a href="MusicEvent___1446364219.html" class='Class' title="http://schema.org/MusicEvent">schema:MusicEvent</a></li>
<li class="asserted"><a href="NightClub___-668920460.html" class='Class' title="http://schema.org/NightClub">schema:NightClub</a></li>
<li class="asserted"><a href="Offer___332951266.html" class='Class' title="http://schema.org/Offer">schema:Offer</a></li>
<li class="asserted"><a href="OpeningHoursSpecification___-235214286.html" class='Class' title="http://schema.org/OpeningHoursSpecification">schema:OpeningHoursSpecification</a></li>
<li class="asserted"><a href="Organization___1600095737.html" class='Class' title="http://schema.org/Organization">schema:Organization</a></li>
<li class="asserted"><a href="Park___259333296.html" class='Class' title="http://schema.org/Park">schema:Park</a></li>
<li class="asserted"><a href="PeopleAudience___73503353.html" class='Class' title="http://schema.org/PeopleAudience">schema:PeopleAudience</a></li>
<li class="asserted"><a href="Pharmacy___-1355485831.html" class='Class' title="http://schema.org/Pharmacy">schema:Pharmacy</a></li>
<li class="asserted"><a href="Place___334048653.html" class='Class' title="http://schema.org/Place">schema:Place</a></li>
<li class="asserted"><a href="PostalAddress___-1576484561.html" class='Class' title="http://schema.org/PostalAddress">schema:PostalAddress</a></li>
<li class="asserted"><a href="PriceSpecification___1195564800.html" class='Class' title="http://schema.org/PriceSpecification">schema:PriceSpecification</a></li>
<li class="asserted"><a href="Product___1612032373.html" class='Class' title="http://schema.org/Product">schema:Product</a></li>
<li class="asserted"><a href="PropertyValue___27563298.html" class='Class' title="http://schema.org/PropertyValue">schema:PropertyValue</a></li>
<li class="asserted"><a href="QuantitativeValue___-426144416.html" class='Class' title="http://schema.org/QuantitativeValue">schema:QuantitativeValue</a></li>
<li class="asserted"><a href="Rating___-1597382045.html" class='Class' title="http://schema.org/Rating">schema:Rating</a></li>
<li class="asserted"><a href="Restaurant___477850627.html" class='Class' title="http://schema.org/Restaurant">schema:Restaurant</a></li>
<li class="asserted"><a href="Review___-1593628642.html" class='Class' title="http://schema.org/Review">schema:Review</a></li>
<li class="asserted"><a href="SaleEvent___2135898905.html" class='Class' title="http://schema.org/SaleEvent">schema:SaleEvent</a></li>
<li class="asserted"><a href="ScreeningEvent___-760599286.html" class='Class' title="http://schema.org/ScreeningEvent">schema:ScreeningEvent</a></li>
<li class="asserted"><a href="SocialEvent___-89459789.html" class='Class' title="http://schema.org/SocialEvent">schema:SocialEvent</a></li>
<li class="asserted"><a href="SportsEvent___-2112061727.html" class='Class' title="http://schema.org/SportsEvent">schema:SportsEvent</a></li>
<li class="asserted"><a href="StadiumOrArena___-1159700243.html" class='Class' title="http://schema.org/StadiumOrArena">schema:StadiumOrArena</a></li>
<li class="asserted"><a href="Suite___337095550.html" class='Class' title="http://schema.org/Suite">schema:Suite</a></li>
<li class="asserted"><a href="TheaterEvent___1490257359.html" class='Class' title="http://schema.org/TheaterEvent">schema:TheaterEvent</a></li>
<li class="asserted"><a href="TouristInformationCenter___-907190187.html" class='Class' title="http://schema.org/TouristInformationCenter">schema:TouristInformationCenter</a></li>
<li class="asserted"><a href="TrainStation___-667130158.html" class='Class' title="http://schema.org/TrainStation">schema:TrainStation</a></li>
<li class="asserted"><a href="Winery___-1447030570.html" class='Class' title="http://schema.org/Winery">schema:Winery</a></li>
<li class="asserted"><a href="Zoo___256943200.html" class='Class' title="http://schema.org/Zoo">schema:Zoo</a></li>
<li class="asserted"><a href="ScreeningEvent___807111974.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#ScreeningEvent">ScreeningEvent</a></li>
<li class="asserted"><a href="SeaTour___1161697257.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#SeaTour">SeaTour</a></li>
<li class="asserted"><a href="SelfCateringAccommodation___1553943881.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#SelfCateringAccommodation">SelfCateringAccommodation</a></li>
<li class="asserted"><a href="SelfServiceCafeteria___-455462251.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#SelfServiceCafeteria">SelfServiceCafeteria</a></li>
<li class="asserted"><a href="Service___1178403671.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Service">Service</a></li>
<li class="asserted"><a href="SiteAndMonumentTheme___958222324.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#SiteAndMonumentTheme">SiteAndMonumentTheme</a></li>
<li class="asserted"><a href="SocialEvent___1478251471.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#SocialEvent">SocialEvent</a></li>
<li class="asserted"><a href="Sound___1904639409.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Sound">Sound</a></li>
<li class="asserted"><a href="SpatialEnvironment___1122571089.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#SpatialEnvironment">SpatialEnvironment</a></li>
<li class="asserted"><a href="SportsAndLeisurePlace___115715196.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#SportsAndLeisurePlace">SportsAndLeisurePlace</a></li>
<li class="asserted"><a href="SportsClub___-468678217.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#SportsClub">SportsClub</a></li>
<li class="asserted"><a href="SportsCompetition___2027356514.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#SportsCompetition">SportsCompetition</a></li>
<li class="asserted"><a href="SportsDemonstration___-1970367822.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#SportsDemonstration">SportsDemonstration</a></li>
<li class="asserted"><a href="SportsEvent___-544350467.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#SportsEvent">SportsEvent</a></li>
<li class="asserted"><a href="SportsTheme___-530914772.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#SportsTheme">SportsTheme</a></li>
<li class="asserted"><a href="SquashCourt___531842094.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#SquashCourt">SquashCourt</a></li>
<li class="asserted"><a href="Stadium___1591605407.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Stadium">Stadium</a></li>
<li class="asserted"><a href="StopOverOrGroupLodge___115225307.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#StopOverOrGroupLodge">StopOverOrGroupLodge</a></li>
<li class="asserted"><a href="Store___1904782723.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Store">Store</a></li>
<li class="asserted"><a href="SummerToboggan___1883208390.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#SummerToboggan">SummerToboggan</a></li>
<li class="asserted"><a href="SwimmingPool___599785851.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#SwimmingPool">SwimmingPool</a></li>
<li class="asserted"><a href="Tasting___1952255030.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Tasting">Tasting</a></li>
<li class="asserted"><a href="TastingFeatureSpecification___110425091.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#TastingFeatureSpecification">TastingFeatureSpecification</a></li>
<li class="asserted"><a href="TastingProvider___-1727610297.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#TastingProvider">TastingProvider</a></li>
<li class="asserted"><a href="TastingReviewSystem___2076460541.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#TastingReviewSystem">TastingReviewSystem</a></li>
<li class="asserted"><a href="TaxiStation___-449629736.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#TaxiStation">TaxiStation</a></li>
<li class="asserted"><a href="TechnicalHeritage___-1728330466.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#TechnicalHeritage">TechnicalHeritage</a></li>
<li class="asserted"><a href="TennisComplex___-1061086217.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#TennisComplex">TennisComplex</a></li>
<li class="asserted"><a href="Tent___1827167449.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Tent">Tent</a></li>
<li class="asserted"><a href="Text___1827167759.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Text">Text</a></li>
<li class="asserted"><a href="Theater___2139174067.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Theater">Theater</a></li>
<li class="asserted"><a href="TheaterEvent___-1236998677.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#TheaterEvent">TheaterEvent</a></li>
<li class="asserted"><a href="Theme___1905338987.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Theme">Theme</a></li>
<li class="asserted"><a href="ThemePark___-449182219.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#ThemePark">ThemePark</a></li>
<li class="asserted"><a href="Tipi___1827171344.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Tipi">Tipi</a></li>
<li class="asserted"><a href="TobogganBobsleigh___-938097824.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#TobogganBobsleigh">TobogganBobsleigh</a></li>
<li class="asserted"><a href="Tour___1827177274.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Tour">Tour</a></li>
<li class="asserted"><a href="TourGuideAgency___-276281013.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#TourGuideAgency">TourGuideAgency</a></li>
<li class="asserted"><a href="TourismCableCar___526183236.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#TourismCableCar">TourismCableCar</a></li>
<li class="asserted"><a href="TouristBus___-1599278384.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#TouristBus">TouristBus</a></li>
<li class="asserted"><a href="TouristInformationCenter___660521073.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#TouristInformationCenter">TouristInformationCenter</a></li>
<li class="asserted"><a href="TouristTrain___1473100504.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#TouristTrain">TouristTrain</a></li>
<li class="asserted"><a href="TourPath___1082810239.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#TourPath">TourPath</a></li>
<li class="asserted"><a href="TourReviewSystem___-1646176511.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#TourReviewSystem">TourReviewSystem</a></li>
<li class="asserted"><a href="TrackRollerOrSkateBoard___814965862.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#TrackRollerOrSkateBoard">TrackRollerOrSkateBoard</a></li>
<li class="asserted"><a href="Trader___42716272.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Trader">Trader</a></li>
<li class="asserted"><a href="Traineeship___1188376454.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Traineeship">Traineeship</a></li>
<li class="asserted"><a href="TrainStation___900581102.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#TrainStation">TrainStation</a></li>
<li class="asserted"><a href="Transport___586529739.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Transport">Transport</a></li>
<li class="asserted"><a href="TreeHouse___-455820604.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#TreeHouse">TreeHouse</a></li>
<li class="asserted"><a href="TypeOfBed___37702834.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#TypeOfBed">TypeOfBed</a></li>
<li class="asserted"><a href="Velodrome___1272331881.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Velodrome">Velodrome</a></li>
<li class="asserted"><a href="Video___1907214621.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Video">Video</a></li>
<li class="asserted"><a href="Visit___1907229165.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Visit">Visit</a></li>
<li class="asserted"><a href="VisualArtsEvent___190305100.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#VisualArtsEvent">VisualArtsEvent</a></li>
<li class="asserted"><a href="VivariumAquarium___1463612538.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#VivariumAquarium">VivariumAquarium</a></li>
<li class="asserted"><a href="WalkingTour___37784595.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#WalkingTour">WalkingTour</a></li>
<li class="asserted"><a href="WineCellar___997521246.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#WineCellar">WineCellar</a></li>
<li class="asserted"><a href="YachtClub___-2115967329.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#YachtClub">YachtClub</a></li>
<li class="asserted"><a href="YouthHostelAndInternationalCenter___1647202672.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#YouthHostelAndInternationalCenter">YouthHostelAndInternationalCenter</a></li>
<li class="asserted"><a href="Yurt___1827331904.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#Yurt">Yurt</a></li>
<li class="asserted"><a href="ZooAnimalPark___-1257306078.html" class='Class' title="http://www.datatourisme.fr/ontology/core/1.0#ZooAnimalPark">ZooAnimalPark</a></li>
</ul>
</div>

</div><!-- owlselector -->
