<div class='owlselector'>
<h2>All Ontologies (1)</h2>

<div class='codebox' id='ID979386977865230714'>
<ul>
<li class="asserted"><a class='active-ontology-uri' href="core___1582877569.html" title='http://www.datatourisme.fr/ontology/core/1.0'>core</a></li>
</ul>
</div>

</div><!-- owlselector -->
