<div class='owlselector'>
<h2>All Datatypes (9)</h2>

<div class='codebox' id='ID-3069409024638422839'>
<ul>
<li class="asserted"><a href="PlainLiteral___-1770072891.html" class='Datatype' title="http://www.w3.org/1999/02/22-rdf-syntax-ns#PlainLiteral">rdf:PlainLiteral</a></li>
<li class="asserted"><a href="Literal___-1897151097.html" class='Datatype' title="http://www.w3.org/2000/01/rdf-schema#Literal">rdfs:Literal</a></li>
<li class="asserted"><a href="boolean___1756652655.html" class='Datatype' title="http://www.w3.org/2001/XMLSchema#boolean">xsd:boolean</a></li>
<li class="asserted"><a href="date___1695016949.html" class='Datatype' title="http://www.w3.org/2001/XMLSchema#date">xsd:date</a></li>
<li class="asserted"><a href="float___1789467299.html" class='Datatype' title="http://www.w3.org/2001/XMLSchema#float">xsd:float</a></li>
<li class="asserted"><a href="int___1692045366.html" class='Datatype' title="http://www.w3.org/2001/XMLSchema#int">xsd:int</a></li>
<li class="asserted"><a href="positiveInteger___-976552628.html" class='Datatype' title="http://www.w3.org/2001/XMLSchema#positiveInteger">xsd:positiveInteger</a></li>
<li class="asserted"><a href="string___799955032.html" class='Datatype' title="http://www.w3.org/2001/XMLSchema#string">xsd:string</a></li>
<li class="asserted"><a href="time___1695501076.html" class='Datatype' title="http://www.w3.org/2001/XMLSchema#time">xsd:time</a></li>
</ul>
</div>

</div><!-- owlselector -->
